@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

body {
  background: #36b9cc;
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;
}     


h1, p {
  font-family: 'Roboto', sans-serif; font-size: 20pt;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  color: white;
}

p a {
  text-decoration: none;
  color: #f1c40f;
}

#elements {
  font-size: medium;
}

#squarefree {
  font-family: Helvetica;
  margin: 0 auto;
  background: #5dc4de;
  text-align: center;
  font-weight: 600;
  font-size: 15pt;
}

#bingotable {
  margin: 0 auto;
  text-align: center;
  width: 400px;
  height: 400px;
  border-collapse: collapse;
  background: white;
}

#square1:hover,
#square2:hover,
#square3:hover,
#square4:hover,
#square5:hover,
#square6:hover,
#square7:hover,
#square8:hover,
#square9:hover,
#square10:hover,
#square11:hover,
#square12:hover,
#square13:hover,
#square14:hover,
#square15:hover,
#square16:hover,
#square17:hover,
#square18:hover,
#square19:hover,
#square20:hover,
#square21:hover,
#square22:hover,
#square23:hover,
#square0:hover
{
  background-color: #5DADE2;
  border: 1px solid #5DADE2;
}
th, td {
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
  border: 3px solid black;
  width: 20%;
  height: 20%;
}
.orange {
  background: #9b59b6;
}
.btn{
  padding: 14px;
}

.btn-primary{
  font-size: 16px;
  padding: 15px 32px;
  background-color: #6648b1;
  border: 1px solid #563d7c;
}
.btn-primary:hover{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

#Elements{
  padding: 10px;
}

#elementBar{
  text-align: center;
}