@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);



h1, p {
  font-family: 'Roboto', sans-serif; font-size: 20pt;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

p a {
  text-decoration: none;
  color: #f1c40f;
}


#squarefree { /* El centro de la tabla*/
  font-family: Helvetica;
  margin: 0 auto;
  background: #5dc4de;
  text-align: center;
  font-weight: 600;
  font-size: 15pt;
  width: 20%;
  height: 15%;
  animation: saltarBingo 10s infinite;
  box-shadow: -5px 10px 50px rgb(149, 0, 255);
  background-color: rgba(149, 0, 255, 0.658);

}
#palabraBingo{
  color: #563d7c;
  width: 100%;
  height: 15%;
  animation:blur 1s ease-out infinite;
  
  
  text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
    0 0 180px rgba(38,104,127,1);
  
}

#palabraBingo:hover{
  color: gold;
  animation:blur 1.5s ease-out infinite;
}

#bingotable {
  width: 45%;
	height: 50%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  background:  rgb(255, 255, 255);/* fondo de la imagen*/
}
#imagenes{
  
  width: 100%;
  height: 15%;
}


#palabras{
  display: flex;
}

@media all and (max-width: 800px){
  
  #imagenes{
    width: 60px;
    height: 30px;
  }
  h1, p {
    font-family: 'Roboto', sans-serif; font-size: 20pt;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }
  
  p a {
    text-decoration: none;
    color: #f1c40f;
  }
  #palabraBingo{
    color: #563d7c;
    width: 100%;
    height: 15%;
    font-size: 15px;
    font-weight: 900;
    animation:blur .75s ease-out infinite;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
    0 0 180px rgba(38,104,127,1);
  }
  
  
  #squarefree { /* El centro de la tabla*/
    font-family: Helvetica;
    margin: 0 auto;
    background: #bbbebe;
    text-align: center;
    font-weight: 600;
    font-size: 15pt;
    width: 10%;
    height: 15%;
    box-shadow: -5px 10px 50px rgb(149, 0, 255);
    background-color: rgba(149, 0, 255, 0.658);
  
  }
  
  #bingotable {
    /*box-shadow: 0 0 20px rgb(100, 10, 7);*/
    width: 40%;
    height: 50%;
  
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    background:  rgb(255, 255, 255);/* fondo de la imagen*/
  }
  #btnStart{
    padding: 10px;
    height: auto;
    width: auto;

  } 
  /* ------------------------------------------------ */
  
}






/*--------------------------------------------------------------------------------------------*/

#square1:hover,
#square2:hover,
#square3:hover,
#square4:hover,
#square5:hover,
#square6:hover,
#square7:hover,
#square8:hover,
#square9:hover,
#square10:hover,
#square11:hover,
#square12:hover,
#square13:hover,
#square14:hover,
#square15:hover,
#square16:hover,
#square17:hover,
#square18:hover,
#square19:hover,
#square20:hover,
#square21:hover,
#square22:hover,
#square23:hover,
#square0:hover

{
  box-shadow: -5px 10px 50px rgb(149, 0, 255);
  background-color: rgba(149, 0, 255, 0.658);
  animation: saltarPieza 3s infinite;
  



}
th, td {
  border: 2px solid rgba(149, 0, 255, 0.349);
  box-shadow: 0 0 20px rgb(100, 10, 7);

}

#btnStart{
  padding: 10px;
  height: 100px;
  width: 200px;

  
}


@keyframes blur{
  from{
      text-shadow:10px 10px 10px #fff,
      5px 10px 10px #fff, 
      50px 10px 25px #fff,
      50px 10px 25px #fff,
      50px 10px 25px #fff,
      
      
      20px 10px 70px #7B96B8,
      20px 10px 60px #7B96B8,
      20px 10px 60px #7B96B8,
      20px 10px 70px #7B96B8;}
}



.btn-primary{
  font-size: 30px;
  padding: 5px 5px;
  background-color: #6648b1;
  border: 2px solid #563d7c;
}
.btn-primary:hover{
  background-color: #7c3d3d;
  border: 1px solid #563d7c;
}


/*PANTALLA HOME*/
#logo{
  animation: saltar 5s infinite;
  display: flex;
  justify-content: center;
  

}
#contenedor1{
  
  box-shadow: 0 0 20px rgb(100, 10, 7);
  border-radius: 16px;
  max-width: 600px;
  width: auto;
  height: 400px;
  align-items: center;
  
  
}
#logoStart:hover{
  box-shadow: 10px 10px 10px rgb(149, 0, 255);
  background-color: rgba(149, 0, 255, 0.658);
  animation: saltarPieza 3s infinite;
}

/*PANTALLA TIPO*/

#contenedor2{
  
  box-shadow: 0 0 20px rgb(100, 10, 7);
  border-radius: 16px;
  max-width: 600px;
  min-width: 50px;
  width: auto;
  height: auto;
  
}

#logotipo{
  
  width: 140px;
  height: 75px;
  animation: saltar2 3s infinite;
}
#botonesTipo{
  
  text-align: center;
  font-size: auto;
  font-weight: 1000;
  color:#ffffff;
  
  width: 140px;
  height: 40px;

  
}
#botonesTipo:hover{
  box-shadow: 10px 10px 10px rgb(255, 230, 0);
  background-color: rgba(149, 0, 255, 0.658);
  animation: saltarPieza 3s infinite;
}
#typeOfBingo{
  
  font-size: auto;
  font-weight: 1000;
  margin: 0 auto;
  -webkit-text-stroke: 2px rgb(194, 42, 42);
  display: inline-block;
  margin: 0 0.5rem;
  color:#06d44b;
}
#look{
 
  display: inline-table;

}
#return{
  animation: desplazarIzquierda 1s infinite;
  
}
#return:hover{
  
  
  animation: saltarPieza 2s infinite;
}



/*-------------------------------------------------------*/

#elementBar{
  
}

.text {
  display: flex;
  justify-content: center;
  font-size:28px;
  font-family:helvetica;
  font-weight:bold;
  color:#bad90b;
  text-transform:uppercase;
  
}
.parpadea {
  
  
  animation-name: parpadeo;
  animation-duration: 15s;
  animation-timing-function: step-start;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  
}
#logoStart{
  animation: vibracion 5s infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}




@keyframes vibracion{
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80%{
    transform: translateX(50px);
  }
  5%, 25%, 45%, 65%, 85% {
    transform: translateY(-50px);
  }
  15%, 35%, 55%, 75%{
    transform: translateY(10px);
  }    
}
@keyframes saltar{
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80%{
    transform: translateX(0px);
  }
  5%, 25%, 45%, 65%, 85% {
    transform: translateY(-50px);
  }
  15%, 35%, 55%, 75%{
    transform: translateY(10px);
  }    
}
@keyframes saltarBingo{
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80%{
    transform: translateX(10px);
  }
  5%, 25%, 45%, 65%, 85% {
    transform: translateY(-10px);
  }
  15%, 35%, 55%, 75%{
    transform: translateY(10px);
  }    
}
@keyframes saltarPieza{
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-3px);
  }
  20%, 40%, 60%, 80%{
    transform: translateX(3px);
  }
  5%, 25%, 45%, 65%, 85% {
    transform: translateY(-3px);
  }
  15%, 35%, 55%, 75%{
    transform: translateY(3px);
  }    
}

@keyframes saltar2{
  0%, 0%, 0%, 0%, 0% {
    transform: translateX(0px);
  }
  0%, 0%, 0%, 0%{
    transform: translateX(0px);
  }
  50%, 50%, 50%, 65%, 100% {
    transform: translateY(-30px);
  }
  50%, 50%, 50%, 100%{
    transform: translateY(0px);
  }    
}
@keyframes desplazarIzquierda{
  50%, 50%, 50%, 50%, 50% {
    transform: translateX(-30px);
  }
  50%, 50%, 50%, 50%{
    transform: translateX(10px);
  }
  0%, 25%, 0%, 65%, 0% {
    transform: translateY(0px);
  }
  0%, 35%, 0%, 0%{
    transform: translateY(0px);
  }    
}

/*----------------chooose the category ------------*/

#contenedor3{
  
  box-shadow: 0 0 20px rgb(100, 10, 7);
  border-radius: 16px;
  max-width: 600px;
  width: auto;
  height: auto;
  
}
#chooseCategorytxt{
  font-size: auto;
  font-weight: 1000;
  margin: 0 auto;
  -webkit-text-stroke: 2px rgb(194, 42, 42);
  display: inline-block;
  margin: 0 0.5rem;
  color:#63acf0;


}
#borderRed{
  box-shadow: 0 0 20px rgb(100, 10, 7);
}
#botonEleccion:hover{

  background-color: rgba(149, 0, 255, 0.658);
  animation: saltarPieza 2s infinite;
}


