@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

#logoNav{
  max-width: 100%;
  min-width: 20%;
  width: 600px;
  height: 100px;
  padding: 20px;
}